.title {
    text-align: center;
    background-image: url("images/pattern.jpeg");
    color: khaki;
    font-size: 100px;
    font-weight: 700;
}

h1, h2, h3, p {
    font-family: Helvetica;
}

h2 {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.ch1 {
    background-color: mediumspringgreen;
}

.ch2 {
    background-color: lightcoral;
}

.ch3 {
    background-color: skyblue;
}

h3 {
    font-weight: bold;
}

.price {
    color: blue;
}