.title {
    background-color: cadetblue;
    height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    font-family: "Arial", sans-serif;
}

table, td {
    border: 1px solid black;
    font-family: Arial, sans-serif;
    font-size: 50px;
    text-align: center;
  }

svg {
    background-color: bisque;
}

polygon {
    stroke: bisque;
    stroke-width: 3;
}